*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding: 1rem;
    width: 100%;
}
#logo{
    width: 3rem;
}
.headerleft{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 0.5rem;
  font-size: 1.6rem;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headerright{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.1rem;
    }
    .main{
      background-color: rgb(165, 92, 218);
      height: 450px;
      color: white;
      font-size: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

    }
 .link{
    color: white;
    text-decoration: none;
   list-style: none;
 } 
   .content {display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
 }
 #spo{
   display: flex;
   justify-content: center;
   padding-top: 2rem;
 }
 .points{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    gap: 5rem;
    padding-bottom: 3rem;
 }
 .content{
    display: flex;
    flex-direction: column;
    
 }
 .image{
    width: 10rem;
 }
 .first{
    background-color: rgb(117, 36, 199);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 250px;
    font-size: 25px;
 }
 .gotquestions{
   padding: 2rem;
   display: flex;
   justify-content: center;
   
 }
 .questions{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   background-color: transparent;
   background-color: rgb(255, 255, 255);
   border: none;
   transition: all ease-in 0.2s;
 }
.questions:hover{
   background-color: rgb(152, 152, 152);
}
.lastsection{
   background-color:  rgb(117, 36, 199);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}
#free{
   border-radius: 2rem;
   padding: 1rem;
   font-weight:900;
}
#logo1{
   width:30px;
}
footer{
   background-color: black;
   width: 100%;
   height: 350px;
}
.footerlogo{
color: white;
display: flex;
align-items: center;
padding-top: 2rem;
}

.link{
   color: white;
}

.footer1{
   color: rgb(170, 168, 168);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   max-width: 1500px;
   margin-left: auto;
    margin-right: auto;
    gap: 5rem;
    padding-top: 5rem;

}
    
.footer{
   width: 20rem;
}
.ftt{
   display: flex;
   flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left:20rem;
  padding-top: 5rem;
}
.ft{
   color: rgb(128, 125, 125);
   max-width: 1500px; 
   margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;  
    
}
ul{
   list-style-type: none;
}
.material-symbols-outlined{
   color: white; 
}
.link{
   display: none;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
   /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
   /* Your styles for medium screens go here */
   
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
   /* Your styles for large screens go here */
   .material-symbols-outlined{
       display: none;
   }
   .link{
      display: block;
   }
       
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
   /* Your styles for extra large screens go here */
}